<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="well well-lg">
        <p>
        <%= image_tag current_user.image_url, class: "img-responseive img-rounded" %>
        @<%= current_user.nickname %>
        </p>
        <p>Twits: <%= current_user.twit_count %></p>
        <p>Following: <%= current_user.following_count %></p>
        <p>Followers: <%= current_user.followers_count %></p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="well well-lg">
        <h4>Latest Twits</h4>
        <% @twits.each do |twit| %>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><%= twit.user.name %></a></h3>
          </div>
          <div class="panel-body">
            <%= twit.text %>
          </div>
          <div class="panel-footer">
            <%= link_to content_tag(:span, "", class: ["glyphicon", "glyphicon-sunglasses", ("selected" if twit.favorited?)], "aria-hidden": "true"), favorite_path(twit.id), method: :patch %>
            <%= link_to content_tag(:span, "", class: ["glyphicon", "glyphicon-retweet"], "aria-hidden": "true"), "#" %>
            <%= link_to content_tag(:span, "", class: ["glyphicon", "glyphicon-menu-left"], "aria-hidden": "true"), "#" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="well well-lg">
        <%= form_tag "/twits", method: :post %>
        <%= text_area_tag "twit[message]" %>
        <%= button_tag(type: "submit", class: "btn btn-primary") do
          content_tag(:span, "", class: ["glyphicon", "glyphicon-pencil"], "aria-hidden": "true") + " Twit"
        end %>
      </div>
    </div>
  </div>
</div>
